<div class="view" style="background-image: url('https://marketplace.canva.com/MAC1OgRXfYQ/1/screen/canva-blue-to-cyan-gradient-MAC1OgRXfYQ.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment:fixed;">
<h1 class="animated slide">Zootopia park</h1>
<h2>Here you can track wildlife and report any sightings.</h2>
<button><a href="/animal/new">Add Animal to System</a></button>
<button><a href="/sightings">Click here to record a sighting</a><button>
