<div class="view" style="background-image: url('https://www.visitaalborg.com/sites/default/files/styles/gallery_medium_width/public/asp/visitaalborg/z_zoo-dyresamlinger/aalborg-zoo/aalborg-zoo-2018-17.jpg?itok=C_OMZLCu'); background-repeat: no-repeat; background-size: cover; background-position: center center; background-attachment:fixed; height:1000px;">
 <br>
 <br>
 <hr>
 <div  style="color:white; text-align:center;">
<h1 class="animated slide">Zootopia park</h1>
<h2>Here you can track wildlife and report any sightings.</h2>
<button class=" btn btn-outline-success"><a href="/animal/new">Add Animal to System</a></button>
<button class=" btn btn-outline-success"><a href="/sightings">Click here to record a sighting</a><button>
</div>